$light: #fff;
$primary-color: #4ade80;
// $primary-color:#e36955;
// $primary-color:#50bac3;
$background-color: #13b1cd;
$secondary-color: #bcf7d1;;
$event-color: #c54041;
$law-color: #b99769;
$black: #2563eb;
$border-color:#dedede;
$primary-font: 'Bitter', serif;
$secondary-font:'Montserrat', sans-serif;
$extra-font:'Hind', serif;
