<!-- Header Start --> 
<header class="navigation">
    <div class="header-top"  style="background-color: #4ade80;">
        <div class="container">
            <div class="columns is-gapless is-justify-content-space-between is-align-items-center">
                <div class="column is-6-desktop is-4-tablet has-text-left-desktop has-text-centered-mobile">
                    <div class="header-top-info">
                        <a href="tel:+1 (202) 597-9630"><i class="icofont-phone mr-2" style="background-color: #1976d2;" ></i><span>+1 (202) 597-9630</span></a>
                        <a href="mailto:info@intermothershumanitarianaid.org"><i class="icofont-email mr-2" style="background-color: #1976d2;"></i><span>info@intermothershumanitarianaid.org</span></a>
                    </div>
                </div>
                <div class="column is-6-desktop is-8-tablet">
                    <div class="header-top-right has-text-right-tablet has-text-centered-mobile">
                        <a href="https://www.facebook.com/" target="_blank"><i class="icofont-facebook"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="icofont-twitter"></i></a>
                        <!-- <a href="https://github.com/" target="_blank"><i class="icofont-github"></i></a> -->
                        <a href="#" target="_blank"><i class="icofont-pinterest"></i></a>
                        <a href="#" target="_blank"><i class="icofont-linkedin"></i></a>
                        <!-- <a href="donation.html" class="top-btn">Donate Now</a> -->
                        <form action="https://www.paypal.com/donate" method="post" target="_blank">
                            <input type="hidden" name="hosted_button_id" value="YYNEG2YYNNB7S" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" style="width: 200px; height: 60px;" />
                            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

      <nav id="navbar" class="navbar-fixed" >
        <div class="navbar" style="background-color: #bcf7d1;">
          <div class="navbar-container">
            <div class="navbar-brand">
              <a class="navbar-item" href="index.html">
                <img class="logo-lg d-none d-md-block" src="images/logo.png" alt="logo for large screens">
                <img class="logo-sm d-md-none" src="images/logo-2.png" alt="logo for small screens">
              </a>
              <button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </button>
            </div>
          </div>
          <div class="navbar-menu mr-0" id="navigation">
            <ul class="navbar-end">
              <li class="navbar-item">
                <a class="navbar-link" href="index.html">Home</a>
              </li>
              <li class="navbar-item">
                <a class="navbar-link" href="about.html">About</a>
              </li>
              <li class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Causes <i class="ti-angle-down"></i></a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="service.html">Causes</a>
                  <a class="navbar-item" href="cause-single.html">Cause details</a>
                </div>
              </li>
              <li class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Get Involved <i class="ti-angle-down"></i></a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="donation.html">Donation</a>
                  <a class="navbar-item" href="volunteer.html">Be a Volunteer</a>
                </div>
              </li>
              <li class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Pages <i class="ti-angle-down"></i></a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="event.html">Event</a>
                  <a class="navbar-item" href="event-single.html">Event Single</a>
                  <a class="navbar-item" href="confirmation.html">Confirmation</a>
                  <a class="navbar-item" href="404.html">404</a>
                </div>
              </li>
              <li class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Blog <i class="ti-angle-down"></i></a>
                <div class="navbar-dropdown align-right">
                  <a class="navbar-item" href="blog-grid.html">Blog Grid</a>
                  <a class="navbar-item" href="blog-sidebar.html">Blog with Sidebar</a>
                  <a class="navbar-item" href="blog-single.html">Blog Single</a>
                </div>
              </li>
              <li class="navbar-item">
                <a class="navbar-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
<!-- Header Close -->